version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:18.17
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Install Sonar Scanner
          command: npm install -g sonar-scanner
      - run:
          name: Run SonarCloud Analysis
          command: sonar-scanner \
            -Dsonar.projectKey=ST10317620-Frazer_InternationalPaymentsPortal \
            -Dsonar.organization=st10317620-frazer \
            -Dsonar.sources=. \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=$SONAR_TOKEN

workflows:
  main:
    jobs:
      - build
